<div class="login-register" >
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material"
            name="form" (ngSubmit)="loginForm.form.valid &&login()" #loginForm="ngForm" novalidate>
        <img class="text-center" >
        <h3 class="box-title m-b-20 text-center">Sign In</h3>
        <div class="form-group " [ngClass]="{ 'has-error': loginForm.submitted && !username.valid }">
          <div class="col-xs-12">
            <input class="form-control"
                   [ngClass]="{ 'form-control-danger': loginForm.submitted && !username.valid }" type="text"
                   placeholder="Username" name="username"
                   [(ngModel)]="model.username" #username="ngModel" required="true"></div>

          <small *ngIf="loginForm.submitted && !username.valid" class="text-danger">
            username is required
          </small>
        </div>
        <br>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }"
                   type="password"
                   placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel"
                   required></div>
          <small *ngIf="loginForm.submitted && !password.valid" class="text-danger">
            password is required
          </small>
        </div>
        <br>

        <div *ngIf="error" class="alert alert-danger">{{error}} <br></div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                    type="submit">Log In
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
